.chartContainer{
    background-image: url(../img/human.png);
    background-position-x: calc(50% + 20px);
    background-position-y: -60px;
    background-repeat: no-repeat;
}

.statContainer{
    background-image: url(../img/human_mod.png);
    background-position-x: calc(50% - 10px);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.mouseArea{
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none; 
}

.topMargin{
    margin-top: 20px !important;
}

.nopaddingleft{
    padding-left: 0px !important;
}

.vertical{
    transform: rotate(-90deg);
}

.slider {
    -webkit-appearance: none;
    width: 93% !important;
    height: 0.5em;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 7.2px;
    margin-right: 7.2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    background: #1DC7EA;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    background: #1DC7EA;
    cursor: pointer;
}

.slider-label{
    margin-bottom: 5px;
}

.custom-tooltip{
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.custom-tooltip p{
    font-size: 12px !important;
}

.green-side{
    height: 100px;
    border: 1px solid #ddd;
    background-color: #cef0cd;
}

.gray-side{
    height: 100px;
    border: 1px solid #ddd;
    background-color: #eee;
}

.bridge{
    height: 300px;
    border: 1px solid #ddd;
    background-image: url(../img/wood-bridge.png);
    background-repeat: repeat-y;
    background-size: contain;
}

.right-steps{
    height: 75px;
    border: 1px solid #ddd;
    background-color: #eee;
    margin-left: 25px;
}

.left-steps{
    height: 75px;
    border: 1px solid #ddd;
    background-color: #eee;
    margin-right: 25px;
}